


h2 {
    color: #081322;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

.table-container {
    background-color: #081322;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    
}

thead th { position: sticky; top: 0; }

table {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    height: 100%;
}

form input[type="text"],
form input[type="date"],
form select {
    padding: 8px;
    width: 75%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: content-box;
}

.agregar-button {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}
.eliminar-button{
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-add-user-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.container-top {
    height: 50px;
}

.blue-stripe {
    height: 100%;
    background-color: #003366;
    width: 100%;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}


