<!DOCTYPE html>
<html lang="es">

<head>
    <title>Agregar Colegio</title>
    <!-- Añade enlaces a los estilos si es necesario -->
</head>

<body>
    <div class="container">
        <div class="container-top">
            <div class="blue-stripe">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="container-bottom">
            <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
            <div class="form-container">
                <h2>AGREGAR COLEGIOS</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <!-- <input formControlName="idColegio" type="text" class="form-control" placeholder="idColegio"
                        required> -->
                    <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre">


                    <select formControlName="idCiudad" class="form-control" required>

                        <option value="">Ciudad</option>
                        <option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
                            {{ ciudad.Nombre }}
                        </option>
                    </select>

                    <select formControlName="idFundacion" class="form-control" required>
                        <option value="">Fundacion</option>
                        <option *ngFor="let fundacion of fundacion" [value]="fundacion.idFundacion">
                            {{ fundacion.Nombre }}
                        </option>
                    </select>

                    <button type="submit" class="agregar-button" [disabled]="!form.valid">Agregar</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>