<!-- sidebar.component.html -->
<div class="w3-main">
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-hide-large" (click)="w3_open()">&#9776;</button>
    </div>
</div>


<div *ngIf="sidebarOpen" [ngClass]="{'w3-sidebar': true, 'w3-bar-block': true, 'w3-collapse': true, 'w3-card': true, 'w3-animate-left': true}" style="width:200px;" id="mySidebar">
    <button class="w3-button" (click)="w3_close()">Cerrar &times;</button>
    <a href="dashboard/dashboard-visual" class="w3-bar-item w3-button">Inicio</a>
    <a href="colegio/visual-cole" class="w3-bar-item w3-button">Ver colegios</a>
    <a href="colegio/agregar-colegio" class="w3-bar-item w3-button">Agregar colegio</a>


</div>
