<!DOCTYPE html>
<html lang="es">

<head>
    <title>Agregar Estudiantes</title>
</head>

<body>
    <div class="container">
        <div class="container-top">
            <div class="blue-stripe"></div>
        </div>
        <div class="container-bottom">
            <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
            <div class="form-container">
                <h2>AGREGAR CURSO</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <input formControlName="IdCurso" type="text" class="form-control" placeholder="IdCurso">
                    <input formControlName="IdProfesor" type="text" class="form-control" placeholder="RUN Profesor" required>
                    <input formControlName="IdColegio" type="text" class="form-control" placeholder="IdColegio" required>
                    <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre Curso" required>
                    <button type="submit" class="agregar-button" [disabled]="!form.valid">Agregar</button>
                </form>
            </div>
        </div>

    </div>
</body>

</html>
