<!DOCTYPE html>
<html lang="es">

<head>
    <title>Agregar Estudiantes</title>
</head>

<body>
    <div class="container">
        <div class="container-top">
            <div class="blue-stripe"></div>
        </div>
        <div class="container-bottom">
            <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
            <div class="form-container">
                <h2>AGREGAR CURSO</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <input formControlName="idCurso" type="text" class="form-control" placeholder="IdCurso" >
                    <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre Curso" required>
                    <input formControlName="idColegio" type="text" class="form-control" id="idColegio" placeholder="idColegio" [value]="colegioIdFromUrl" readonly>
                    <select formControlName="idProfesor" class="form-control" id="idProfesor">
                        <option *ngFor="let profesor of profesores" [value]="profesor.idProfesor">
                            {{ profesor.Nombre }}
                        </option>
                    </select> 
                    <input formControlName="idCurso" type="hidden" [value]="idCurso">

                    <button type="submit" class="agregar-button" [disabled]="!form.valid">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
