<!DOCTYPE html>
<html lang="es">

<head>
    <title>Crear Encuesta</title>
</head>

<body>
    <div class="container">
        <div class="container-top">
            <div class="blue-stripe"></div>
        </div>
        <div class="container-bottom">
            <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
            <div class="form-container">
                <h2>ASIGNAR ENCUESTA</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <select formControlName="idPreguntasEncuesta" class="form-control" required>
                        <option value="">Encuestas</option>
                        <option *ngFor="let encuesta of encuestaslista" [value]="encuesta.idPreguntasEncuesta">
                            {{ encuesta.Nombre }}
                        </option>
                    </select>
                    <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre" required>
                    <input formControlName="FechaInicio" type="date" class="form-control" placeholder="" required>
                    <input formControlName="FechaFin" type="date" class="form-control" placeholder="" required>
                    <select formControlName="Tipo" type="text" class="form-control" placeholder="Encuesta" required>
                        <option value="">Tipo</option>
                        <option value="Inicial">Inicial</option>
                        <option value="Final">Final</option>
                    </select>
                    <input formControlName="idCurso" type="text" [value]="cursoIdFromURL" readonly hidden>
                    <button type="submit" class="agregar-button" [disabled]="!form.valid">Crear</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>