<!DOCTYPE html>
<html lang="es">

<head>
    <title>Visualizar colegios</title>
    <!-- Añade enlaces a los estilos si es necesario -->
</head>

<body>
    <div class="container">
        <div class="container-top">
            <div class="blue-stripe">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="container-bottom">
            <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
        </div>
     

        <div class="search-bar">
            <input type="text" class="search" placeholder="Buscar colegio por nombre" (keyup)="onSearch($event)">
            <button type="button" class="button" (click)="agregarColegio()">Agregar Colegio</button>
        </div>

        <table class="table-container">
            <thead>
                <tr>
                    <th class="b-white">Nombre</th>
                </tr>
            </thead>
            <tbody class = "b-white">
                <tr *ngFor="let colegio of filteredColegios">
                    <td class="b-white
                    ">{{colegio.Nombre}}</td>
                    <td>
                        <button type="button" class="button" (click)="verDetalles(colegio)">Ver</button>
                    </td>
                </tr>
            </tbody>
            
        </table>

    </div>
</body>

</html>
