    <!DOCTYPE html>
    <html lang="es">

    <head>
        <title>Agregar Estudiantes</title>
    </head>

    <body>
        <div class="container">
            <div class="container-top">
                <div class="blue-stripe"></div>
            </div>
            <div class="container-bottom">
                <div class="image-container"><img src="../../../../assets/img/LogoUnach.png" alt="" class="logo"></div>
                <div class="form-container">
                    <h2>AGREGAR ESTUDIANTES</h2>
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <input formControlName="idEstudiante" type="text" class="form-control" placeholder="ID Estudiante" required>
                        <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre" required>
                        <input formControlName="FechaNacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento" required>
                        <select formControlName="Sexo" name="genero" class="form-control" id="genero" required>
                        <option value="">Género</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        </select>
                        <input formControlName="Clave" type="text" class="form-control" placeholder="Clave" required>
                        <input formControlName="Anio" type="text" class="form-control" placeholder="Año Matrícula" required readonly>
                        <input formControlName="idCurso" type="text" class="form-control" placeholder="ID Curso" required readonly>
                        <input formControlName="idMatricula" type="text" class="form-control" placeholder="ID Matrícula" required>
                        <button type="submit" class="agregar-button" [disabled]="!form.valid">Agregar</button>
                    </form>
                    
                    
                    
                </div>
            </div>

        </div>
    </body>

    </html>